@clr-blue: #4fa2cd;
@clr-blue-dk: #2965a6;
@clr-blue-lt: #8ad1ee;
@clr-white: #f7f7f7;
@clr-dark: #222;
@clr-grey-lt: #ddd;
@clr-grey: #616161;

header {
  padding-top: 10px;
  background: @clr-white;
}

#chart-wrap {
  width: 100%;
  height: 330px;
  display: block;
  margin: 0 auto;
}

.title {
  font-family: sans-serif;
  color: @clr-grey;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  display: inline;
  margin-left: 38px;
}

.refresh-btn {
  display: inline;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: noraml;
  text-transform: uppercase;
  color: @clr-blue;
  margin-left: 30px;
  cursor: pointer;
}

// Custom checkboxes
input[type="checkbox"] {
  visibility: hidden;
  margin: 0;
}

.legend {
  display: block;
  position: relative;
  float: right;
  margin-right: 42px;
}

.legend input[type="checkbox"]:checked + label {
  background: @clr-blue-lt;
  border: 1px solid @clr-blue-lt;
}

.legend input[type="checkbox"]:checked + label.blue {
  background: @clr-blue-dk;
  border: 1px solid @clr-blue-dk;
}

.legend input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.legend label {
  border: 1px solid @clr-grey-lt;
  border-radius: 3px;
  cursor: pointer;
  height: 12px;
  top: 2px;
  left: 0;
  position: absolute;
  width: 12px;
}

.legend label:after {
  border-style: none none solid solid;
  border-width: 2px;
  width: 5px;
  content: "";
  border-color: @clr-white;
  height: 2px;
  left: 3px;
  top: 3px;
  opacity: 0;
  position: absolute;
  transform:rotate(-45deg);
}

.legend span {
  color: @clr-dark;
  font-family: sans-serif;
  font-size: 13px;
  cursor: pointer;
  margin: 0 8px;
}