<header>
  <div class="title">Chart Title</div>
  <div class="refresh-btn" (click)="refresh()">Refresh Data</div>
  <div class="legend">
    <input type="checkbox" name="" id="legendCheckbox2" [checked]="true" (change)="onChange($event, millicoresKey)">
    <label class="blue" for="legendCheckbox2"></label>
    <span>CPU Utilizaton</span>
  </div>
  <div class="legend">
    <input type="checkbox" name="" id="legendCheckbox1" [checked]="true" (change)="onChange($event, serviceInstanceKey)">
    <label for="legendCheckbox1"></label>
    <span>Instance Count</span>
  </div>
</header>
<highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions" [callbackFunction]="chartCallback" id="chart-wrap"></highcharts-chart>